In [25]:
import requests, time, tqdm, pandas, pickle

In [136]:
api = 'https://api.vk.com/method/'
key = open("text.txt")
token = key.readline()

In [111]:
sad = requests.get(api + 'groups.search?q=грустные&count=20&v=5.85' + token).json()['response']['items']
time.sleep(0.5)
funny = requests.get(api + 'groups.search?q=веселые&count=20&v=5.85' + token).json()['response']['items']

In [109]:
data1={}
data0={}

In [110]:
for i in tqdm.tqdm_notebook(sad):
    time.sleep(0.5)
    sad_gays=requests.get(api + 'users.search?count=500&group_id=' + str(i['id'])+'&v=5.85' + token).json()['response']['items']
    data1[i['id']]= sad_gays

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

In [114]:
for i in tqdm.tqdm_notebook(funny):
    time.sleep(0.5)
    funny_gays=requests.get(api + 'users.search?count=500&group_id=' + str(i['id'])+'&v=5.85' + token).json()['response']['items']
    data0[i['id']]= funny_gays

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

In [126]:
data11 = {'first_name': [], 'last_name': [], 'id': [], 'suicide': [], 'group': []}
data00 = {'first_name': [], 'last_name': [], 'id': [], 'suicide': [], 'group': []}

In [127]:
for key, val in data1.items():
    for info in val:
        data11['first_name'].append(info['first_name'])
        data11['last_name'].append(info['last_name'])
        data11['id'].append(info['id'])
        data11['suicide'].append(1)
        data11['group'].append(key)

In [128]:
for key, val in data0.items():
    for info in val:
        data00['first_name'].append(info['first_name'])
        data00['last_name'].append(info['last_name'])
        data00['id'].append(info['id'])
        data00['suicide'].append(0)
        data00['group'].append(key)

In [132]:
frame1 = pandas.DataFrame(data11)
frame1

      first_name      last_name         id  suicide     group
0           Катя       Адушкина  222267609        1  71194689
1      Анастасия     Третьякова    2615791        1  71194689
2        Nikolay    Nikolaevich       4041        1  71194689
3      Екатерина      Левинская  151576949        1  71194689
4          Антон        Соломка  140296111        1  71194689
5      Анастасия      Виленская  314042609        1  71194689
6      Анастасия       Соколова  118616259        1  71194689
7      Александр     Москаленко       2395        1  71194689
8      Анастасия        Волкова  161151316        1  71194689
9         Максим          Франк   94699094        1  71194689
10           Юра       Захарчук  242497826        1  71194689
11         Алина       Шабанова  162556812        1  71194689
12          Лили       Аксёнова   94260995        1  71194689
13        Оксана      Совушкина   88809814        1  71194689
14     Александр      Сергеевич       5665        1  71194689
15        Андрей        Соболев  101059709        1  71194689
16       Дмитрий        Седаков  300933852        1  71194689
17         Ирина       Звинцова  319096781        1  71194689
18     Александр        Борятин  398229629        1  71194689
19       Евгения       Грибкова   10013055        1  71194689
20     Владислав      Янковский   18312547        1  71194689
21      Вероника        Фрайман  120944917        1  71194689
22       Евгения      Булгакова       7188        1  71194689
23       Евгений        Окрушко   21539253        1  71194689
24          Катя       Адушкина  403171046        1  71194689
25         Алина         Котова  437868523        1  71194689
26       Дмитрий       Астафьев  101771464        1  71194689
27    Безымянный        Мальчик     235792        1  71194689
28     Екатерина     Перевалова    5098901        1  71194689
29          Анна        Магикян  176612177        1  71194689
...          ...            ...        ...      ...       ...
9914        Галя    Виноградова  104133539        1  13107790
9915        Женя     Татаринчик   77384264        1  13107790
9916      Дашуня       Прунцева   56372079        1  13107790
9917        Анна          Майер   36417906        1  13107790
9918    Виктория       Асаулова   22224588        1  13107790
9919       Алина       Гроссман  411219892        1  13107790
9920        Иван  Александрович  386397796        1  13107790
9921     Арсений      Неверский  261644186        1  13107790
9922        Саша           Немо  233594100        1  13107790
9923      Карина         Фомина  143061561        1  13107790
9924    Геннадий        Астапов   62234805        1  13107790
9925     Natalya           Fish   39924351        1  13107790
9926       Nadya         Kurilo   39658784        1  13107790
9927       Дарья       Сергеева   23226150        1  13107790
9928       Алина       Фефилова   20908776        1  13107790
9929       Игорь      Буковский   17725868        1  13107790
9930      Юлиана        Бындина   16641148        1  13107790
9931        Вера       Васильна    7287691        1  13107790
9932        Лена       Коренева    3333787        1  13107790
9933     Arystan      Sagzhanov  326310000        1  13107790
9934      Сергей  Александрович  283124150        1  13107790
9935    Вікторія        Олійник  263817520        1  13107790
9936         Оля           Дейс  243167260        1  13107790
9937     Георгий        Абрамов  241829293        1  13107790
9938   Анастасия      Щербакова  220502892        1  13107790
9939     Дмитрий         Лавров  182415162        1  13107790
9940   Александр       Кузнецов  181718128        1  13107790
9941      Михаил        Малышев  157521871        1  13107790
9942      Максим     Добромиров  135290295        1  13107790
9943   Anzhelina        Barnett  132231931        1  13107790

[9944 rows x 5 columns]

In [133]:
frame0 = pandas.DataFrame(data00)
frame0

     first_name           last_name         id  suicide     group
0       Евгений            Гриневич    5684284        0  31234561
1         Арина            Данилова  230302965        0  31234561
2     Анастасия          Третьякова    2615791        0  31234561
3       Nikolay         Nikolaevich       4041        0  31234561
4         Данил            Гаврилов  141654175        0  31234561
5     Екатерина            Левченко   23598183        0  31234561
6        Сергей             Сергеев  100403111        0  31234561
7          Егор            Маркелов    4322049        0  31234561
8     Екатерина           Левинская  151576949        0  31234561
9        Максим              Шкипер   74819573        0  31234561
10     Кристиан              Костов   39248670        0  31234561
11        Denis              Kostin    7361073        0  31234561
12        Антон             Соломка  140296111        0  31234561
13    Анастасия           Виленская  314042609        0  31234561
14        Артём            Крикунов  156319036        0  31234561
15         Саша           Недорубов  376461684        0  31234561
16          Яна            Сафонова  264727999        0  31234561
17     Ангелина           Коноплева   45823267        0  31234561
18      Татьяна           Загоскина  248959959        0  31234561
19       Сергей            Кармазин   32954241        0  31234561
20     Кристина            Миронова  172475601        0  31234561
21          Ева              Миллер  160356640        0  31234561
22    Анастасия            Губарева  105419636        0  31234561
23       Тамара           Маркелова  231817577        0  31234561
24    Александр          Москаленко       2395        0  31234561
25       Даниил              Миллер   17832348        0  31234561
26        Настя               Рокас   11020197        0  31234561
27       Максим               Франк   94699094        0  31234561
28        Денис               Мороз  193028632        0  31234561
29        Алена            Карпенок   48891164        0  31234561
...         ...                 ...        ...      ...       ...
9883  Абылайхан            Ринатулы  197578799        0  32486999
9884      Алиса            Мизамбек  193682663        0  32486999
9885  Анастасия           Четыркина  186321888        0  32486999
9886      Элина         Кильдиярова  174987929        0  32486999
9887       Ваня           Станкевич  165350561        0  32486999
9888       Илья             Матыров  156109653        0  32486999
9889       Лина          Никольская  150582863        0  32486999
9890    Эльмира           Зиганшина  142137271        0  32486999
9891      Ксюша         Пономаренко  137290010        0  32486999
9892  Ростислав            Трофимов  137073314        0  32486999
9893     Богдан            Кривенко  119616255        0  32486999
9894    Евгения  Калинина-Беркутова  110022954        0  32486999
9895    Татьяна    Краснослободцева   85601476        0  32486999
9896       Олег              Волков   62903056        0  32486999
9897      Мария           Завьялова   53444108        0  32486999
9898       Илья           Багинский   48524020        0  32486999
9899       Юлия             Нуриева  279398711        0  32486999
9900      Наник             Суфиева  215824003        0  32486999
9901     Данила            Грошилин  195149028        0  32486999
9902  Анастасия            Киселёва  193141719        0  32486999
9903     Максим            Сверидов  182722161        0  32486999
9904     Никита             Крючков  153178013        0  32486999
9905       Олег              Фролов  141591004        0  32486999
9906      Алина           Алексеева  134703581        0  32486999
9907    Людмила            Аэробика  108901867        0  32486999
9908  Анастасия              Титова   93944667        0  32486999
9909        Яна            Шибляева   70122305        0  32486999
9910    Марсель           Гайнуллин   62945225        0  32486999
9911      Роман            Захарків   61658324        0  32486999
9912       Юрец              Дедков  251475868        0  32486999

[9913 rows x 5 columns]

In [137]:
with open('sad_gays.pickle', 'wb') as f:
    pickle.dump(frame1, f)

In [138]:
with open('funny_gays.pickle', 'wb') as f:
    pickle.dump(frame0, f)