In [1]:
import requests, time, tqdm, pandas, pickle

In [2]:
api = 'https://api.vk.com/method/'
key = open("text.txt")
token = key.readline()[0:-1]

In [3]:
sad = requests.get(api + 'groups.search?q=грустные&count=20&v=5.85' + token).json()['response']['items']
funny = requests.get(api + 'groups.search?q=веселые&count=20&v=5.85' + token).json()['response']['items']

In [4]:
data1={}
data0={}

In [5]:
for i in tqdm.tqdm_notebook(sad):
    time.sleep(0.5)
    sad_gays=requests.get(api + 'users.search?count=5&group_id=' + str(i['id'])+'&v=5.85' + token).json()['response']['items']
    data1[i['id']]= sad_gays

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

In [6]:
for i in tqdm.tqdm_notebook(funny):
    time.sleep(0.5)
    funny_gays=requests.get(api + 'users.search?count=5&group_id=' + str(i['id'])+'&v=5.85' + token).json()['response']['items']
    data0[i['id']]= funny_gays

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

In [7]:
data11 = {'first_name': [], 'last_name': [], 'id': [], 'suicide': [], 'group': []}

In [8]:
for key, val in data1.items():
    for info in val:
        data11['first_name'].append(info['first_name'])
        data11['last_name'].append(info['last_name'])
        data11['id'].append(info['id'])
        data11['suicide'].append(1)
        data11['group'].append(key)

In [9]:
for key, val in data0.items():
    for info in val:
        data11['first_name'].append(info['first_name'])
        data11['last_name'].append(info['last_name'])
        data11['id'].append(info['id'])
        data11['suicide'].append(0)
        data11['group'].append(key)

In [11]:
frame = pandas.DataFrame(data11)
frame

    first_name     last_name         id  suicide      group
0         Катя      Адушкина  222267609        1   71194689
1    Анастасия    Третьякова    2615791        1   71194689
2      Nikolay   Nikolaevich       4041        1   71194689
3    Екатерина     Левинская  151576949        1   71194689
4        Антон       Соломка  140296111        1   71194689
5        Антон       Соломка  140296111        1   38166600
6    Анастасия     Виленская  314042609        1   38166600
7    Александр    Москаленко       2395        1   38166600
8          Юра      Захарчук  242497826        1   38166600
9    Анастасия      Шевченко  219820223        1   38166600
10        Седа      Тутхалян  145298779        1  150985314
11        Вика      Новикова   67420689        1  150985314
12   Анастасия      Шевченко  219820223        1  150985314
13        Катя      Адушкина  403171046        1  150985314
14   Анастасия      Шевченко  219820223        1  154297673
15    Вероника       Фрайман  120944917        1  154297673
16        Катя    Нарчинская  294752916        1  154297673
17         Юля        Котова   44676839        1  154297673
18     Татьяна  Резниченская    9479268        1  154297673
19   Анастасия    Третьякова    2615791        1   51218957
20     Nikolay   Nikolaevich       4041        1   51218957
21      Наташа       Ланская   50968185        1   51218957
22        Лина  Добророднова   19208798        1   51218957
23       Антон       Соломка  140296111        1   51218957
24   Екатерина     Левинская  151576949        1   74829542
25       Антон       Соломка  140296111        1   74829542
26   Анастасия     Виленская  314042609        1   74829542
27      Сергей      Кармазин   32954241        1   74829542
28   Александр    Москаленко       2395        1   74829542
29        Даша       Канаева  322583912        1  127073544
..         ...           ...        ...      ...        ...
166     Feride    Ibragimova  139294707        0   13293880
167      Азиза       Умарова    5291601        0   13293880
168       Адам   Королевский  214434099        0   13293880
169      Ирина      Звинцова  319096781        0   13293880
170  Александр       Шкуднов  144938018        0   13293880
171      Yulia      Sorokina    5513810        0   96463868
172        Юра      Захарчук  242497826        0   96463868
173     Максим      Свиридов   12003016        0   96463868
174      Ирина      Звинцова  319096781        0   96463868
175    Евгения     Булгакова       7188        0   96463868
176   Салтанат   Бекжигитова   94432392        0   61896493
177  Анастасия    Третьякова    2615791        0   61896493
178  Александр        Булкин    6878183        0   61896493
179       Влад       Беренич   30899239        0   61896493
180    Наталья      Бантеева   72155373        0   61896493
181        Юра      Захарчук  242497826        0  135442149
182    Евгений      Бондарев   39101778        0  135442149
183     Максим      Свиридов   12003016        0  135442149
184     Руслан           Рой  212620675        0  135442149
185  Александр       Борятин  398229629        0  135442149
186    Евгений      Гриневич    5684284        0   64991683
187    Nikolay   Nikolaevich       4041        0   64991683
188  Екатерина      Левченко   23598183        0   64991683
189  Александр    Москаленко       2395        0   64991683
190  Анастасия       Волкова  161151316        0   64991683
191  Александр      Коломоец  161203525        0   32486999
192     Nazeli       Adderli  107523643        0   32486999
193   Lyudmila          Lear    3119280        0   32486999
194     Сергей      Кармазин   32954241        0   32486999
195   Кристина      Миронова  172475601        0   32486999

[196 rows x 5 columns]

In [12]:
with open('gays1.pickle', 'wb') as f:
    pickle.dump(frame, f)