In [1]:
import pickle, pandas, requests, tqdm, time

In [137]:
with open('gays.pickle', 'rb') as f:
    frame = pickle.load(f)

In [138]:
frame

       first_name           last_name         id  suicide     group
0            Катя            Адушкина  222267609        1  71194689
1       Анастасия          Третьякова    2615791        1  71194689
2         Nikolay         Nikolaevich       4041        1  71194689
3       Екатерина           Левинская  151576949        1  71194689
4           Антон             Соломка  140296111        1  71194689
5       Анастасия           Виленская  314042609        1  71194689
6       Анастасия            Соколова  118616259        1  71194689
7       Александр          Москаленко       2395        1  71194689
8       Анастасия             Волкова  161151316        1  71194689
9          Максим               Франк   94699094        1  71194689
10            Юра            Захарчук  242497826        1  71194689
11          Алина            Шабанова  162556812        1  71194689
12           Лили            Аксёнова   94260995        1  71194689
13         Оксана           Совушкина   88809814        1  71194689
14      Александр           Сергеевич       5665        1  71194689
15         Андрей             Соболев  101059709        1  71194689
16        Дмитрий             Седаков  300933852        1  71194689
17          Ирина            Звинцова  319096781        1  71194689
18      Александр             Борятин  398229629        1  71194689
19        Евгения            Грибкова   10013055        1  71194689
20       Вероника             Фрайман  120944917        1  71194689
21      Владислав           Янковский   18312547        1  71194689
22        Евгения           Булгакова       7188        1  71194689
23        Дмитрий           Прокофьев   98181088        1  71194689
24        Евгений             Окрушко   21539253        1  71194689
25           Катя            Адушкина  403171046        1  71194689
26          Алина              Котова  437868523        1  71194689
27        Дмитрий            Астафьев  101771464        1  71194689
28     Безымянный             Мальчик     235792        1  71194689
29      Екатерина          Перевалова    5098901        1  71194689
...           ...                 ...        ...      ...       ...
19821       Ксюша              Минчук   32701827        0  32486999
19822   Абылайхан            Ринатулы  197578799        0  32486999
19823       Алиса            Мизамбек  193682663        0  32486999
19824   Анастасия           Четыркина  186321888        0  32486999
19825       Элина         Кильдиярова  174987929        0  32486999
19826        Ваня           Станкевич  165350561        0  32486999
19827        Илья             Матыров  156109653        0  32486999
19828        Лина          Никольская  150582863        0  32486999
19829     Эльмира           Зиганшина  142137271        0  32486999
19830       Ксюша         Пономаренко  137290010        0  32486999
19831   Ростислав            Трофимов  137073314        0  32486999
19832      Богдан            Кривенко  119616255        0  32486999
19833     Евгения  Калинина-Беркутова  110022954        0  32486999
19834     Татьяна    Краснослободцева   85601476        0  32486999
19835         Яна            Шибляева   70122305        0  32486999
19836        Олег              Волков   62903056        0  32486999
19837        Юлия             Нуриева  279398711        0  32486999
19838       Наник             Суфиева  215824003        0  32486999
19839      Данила            Грошилин  195149028        0  32486999
19840   Анастасия            Киселёва  193141719        0  32486999
19841      Максим            Сверидов  182722161        0  32486999
19842      Никита             Крючков  153178013        0  32486999
19843        Олег              Фролов  141591004        0  32486999
19844       Алина           Алексеева  134703581        0  32486999
19845     Людмила            Аэробика  108901867        0  32486999
19846   Анастасия              Титова   93944667        0  32486999
19847      Андрей              Зайцев   83404524        0  32486999
19848     Марсель           Гайнуллин   62945225        0  32486999
19849       Роман            Захарків   61658324        0  32486999
19850        Юрец              Дедков  251475868        0  32486999

[19851 rows x 5 columns]

In [145]:
ids = list(frame['id'])

def chunks(lst, chunk_size):
    return [lst[i:i + chunk_size] for i in range(0, len(lst), chunk_size)]

ids = chunks(ids, 20)

In [146]:
api = 'https://api.vk.com/method/'
key = open("text.txt")
token = key.readline()[0:-1]

In [147]:
data = {'id': [],
    'sex': [], 'relation': [],
    'political': [], 'religion': [], 'people_main': [], 'life_main': [],
    'smoking': [], 'alchol': [], 'groups': []
}

In [148]:
for uid in tqdm.tqdm_notebook(ids):
    ID=','.join(list(map(str, uid)))
    IDg=[]
    time.sleep(0.1)
    gays = requests.get(api + 'execute.infoUser' + '?id=' + ID + '&v=5.85' + token).json()
    get = gays['response'][0]
    
    for x in get:
        data['id'].append(x['id'])
        data['sex'].append(x['sex'])
        data['religion'].append(x.setdefault('personal', {}).setdefault('religion', None))
        data['relation'].append(x.setdefault('relation', None))
        data['political'].append(x.setdefault('personal', {}).setdefault('political', None))
        data['people_main'].append(x.setdefault('personal', {}).setdefault('people_main', None))
        data['life_main'].append(x.setdefault('personal', {}).setdefault('life_main', None))
        data['smoking'].append(x.setdefault('personal', {}).setdefault('smoking', None))
        data['alchol'].append(x.setdefault('personal', {}).setdefault('alcohol', None))
        IDg.append(x['id'])
    
    time.sleep(0.3)
        
    ID=','.join(list(map(str, IDg)))
    groups =requests.get(api + 'execute.infoUsers' + '?id=' + ID + '&v=5.85' + token).json()['response']
    
    #print(len(groups),len(get))
    for user in groups:
        tmp = []
        if type(user) == type(False):
            data['groups'].append([])
            continue
        for group in user['items']:
            tmp.append(group.setdefault('id', None))
        data['groups'].append(tmp)

HBox(children=(IntProgress(value=0, max=993), HTML(value='')))

In [149]:
import pickle
with open('FullFrame.pickle', 'wb') as f:
    pickle.dump(data, f)

In [150]:
print(len(data['groups']),len(data['id']))

19851 19851

In [151]:
frame = pandas.DataFrame(data)
frame

,id,sex,relation,political,religion,people_main,life_main,smoking,alchol,groups
0,222267609,1,0.0,NaN,None,NaN,NaN,NaN,NaN,"[73247559, 41768412, 81428828, 23758942, 70789..."
1,2615791,1,4.0,4.0,"Иудаизм, Православие, Католицизм, Протестантиз...",1.0,6.0,2.0,2.0,"[28528027, 74382159, 30751873, 30447908, 19799..."
2,4041,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[2158488, 550910, 22822305, 22884714, 22079806..."
3,151576949,1,6.0,9.0,Здравый смысл и безупречная логика,6.0,6.0,2.0,3.0,"[28528027, 36166073, 33404310, 74382159, 16054..."
4,140296111,2,6.0,1.0,Православие,6.0,4.0,1.0,2.0,"[30957440, 55279344, 28528027, 74382159, 30751..."
5,314042609,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[2158488, 37725105, 40500796, 57846937, 307518..."
6,118616259,1,4.0,NaN,None,NaN,NaN,NaN,NaN,"[93209353, 33874468, 84613327, 153632827, 1399..."
7,2395,2,6.0,NaN,None,NaN,NaN,5.0,5.0,"[29573241, 57846937, 73247559, 147546810, 2852..."
8,161151316,1,6.0,3.0,Православие,6.0,1.0,4.0,4.0,"[30447908, 33404310, 38683579, 34384434, 67855..."
9,94699094,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[28528027, 86990325, 30751873, 30447908, 26419..."
10,242497826,2,6.0,NaN,Буддизм,2.0,5.0,2.0,2.0,"[28528027, 86990325, 99434785, 74382159, 30751..."
11,162556812,1,0.0,NaN,None,NaN,NaN,NaN,NaN,"[162822257, 28528027, 30957440, 27895931, 2409..."
12,94260995,1,0.0,3.0,Православие,5.0,1.0,1.0,1.0,"[24792010, 39826778, 28870275, 52695815, 34757..."
13,88809814,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[132571484, 18966968, 158700024, 142046107, 94..."
14,5665,2,1.0,NaN,None,NaN,NaN,NaN,NaN,"[132677762, 99434785, 28528027, 86990325, 3868..."
15,101059709,2,1.0,NaN,None,2.0,1.0,1.0,1.0,"[143361243, 111203300, 4705071, 27591602, 4350..."
16,300933852,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[29719598, 31101527, 37633522, 127161321, 3809..."
17,319096781,1,6.0,NaN,None,NaN,NaN,NaN,NaN,"[28528027, 86990325, 74382159, 30751873, 30447..."
18,398229629,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[53258521, 73476, 47206871, 132293269, 2852802..."
19,10013055,1,4.0,4.0,мусульманка,NaN,NaN,NaN,NaN,"[24220195, 110875410, 68822161, 170148164, 845..."
20,120944917,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[123695926, 125603739, 87654749, 164209809, 13..."
21,18312547,2,0.0,NaN,None,NaN,NaN,NaN,NaN,"[160778994, 93084449, 172133498, 172736465, 51..."
22,7188,1,1.0,NaN,None,NaN,NaN,NaN,NaN,"[28528027, 86990325, 74382159, 30751873, 30447..."
23,98181088,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[38789903, 28528027, 86990325, 155195319, 7438..."
24,21539253,2,0.0,NaN,None,NaN,NaN,NaN,NaN,"[44625825, 31478728, 38683579, 75214966, 26956..."
25,403171046,1,5.0,NaN,None,NaN,NaN,NaN,NaN,"[162510475, 121883268, 123757431, 104244393, 1..."
26,437868523,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[28528027, 30751873, 30447908, 19799369, 33404..."
27,101771464,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[28528027, 86990325, 74382159, 30751873, 47419..."
28,235792,2,0.0,NaN,Взираю,1.0,5.0,5.0,5.0,"[77222105, 49703958, 23693281, 28528027, 86990..."
29,5098901,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[40500796, 26599838, 77108610, 75104505, 37862..."
...,...,...,...,...,...,...,...,...,...,...
19821,32701827,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[28086630, 82706459, 146799592, 31904926, 5446..."
19822,197578799,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[89643856, 96794207, 39728801, 134533652, 8699..."
19823,193682663,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[77108610, 67375000, 79562569, 58946765, 45571..."
19824,186321888,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[74382159, 30751873, 67539077, 29298930, 442, ..."
19825,174987929,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[67988687, 29693108, 150701973, 86990325, 2852..."
19826,165350561,2,4.0,NaN,None,NaN,NaN,NaN,NaN,"[58170807, 170321944, 133974750, 131498541, 86..."
19827,156109653,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[64422271, 129772248, 28905875, 169016568, 756..."
19828,150582863,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[46438890, 91050183, 30447908, 30751873, 32432..."
19829,142137271,1,NaN,NaN,None,NaN,NaN,NaN,NaN,[]
19830,137290010,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[28878216, 34757875, 4096420, 4425938, 2045928..."
19831,137073314,2,7.0,NaN,None,NaN,NaN,NaN,NaN,"[68471405, 23783750, 114038183, 43001537, 3075..."
19832,119616255,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[113761322, 150609275, 151600709, 156737429, 1..."
19833,110022954,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[126944227, 163469585, 171696987, 171973101, 1..."
19834,85601476,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[98906766, 40138308, 64977560, 126200762, 7977..."
19835,70122305,1,7.0,3.0,Христианство,6.0,6.0,4.0,2.0,"[36448868, 171433591, 143369394, 30447908, 158..."
19836,62903056,2,0.0,3.0,Православие,NaN,NaN,NaN,NaN,"[71474813, 43215063, 65761413, 57846937, 15413..."
19837,279398711,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[60634763, 35244547, 33993930, 150099733, 8121..."
19838,215824003,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[40550121, 58770467, 22177037, 162295915, 1120..."
19839,195149028,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[146814970, 66678575, 135209264, 68016956, 135..."
19840,193141719,1,4.0,NaN,None,NaN,NaN,NaN,NaN,"[27895931, 112972174, 28528027, 147845620, 743..."
19841,182722161,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[86990325, 74382159, 30751873, 43542609, 49135..."
19842,153178013,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[71729358, 159376565, 8722610, 104258587, 8264..."
19843,141591004,2,6.0,3.0,Православие,2.0,NaN,2.0,4.0,"[30447908, 71953754, 26419239, 26147450, 55397..."
19844,134703581,1,NaN,NaN,None,NaN,NaN,NaN,NaN,"[30751873, 83036844, 38683579, 25189523, 24739..."
19845,108901867,1,4.0,NaN,None,NaN,NaN,NaN,NaN,"[30447908, 40020627, 18464856, 34118551, 78388..."
19846,93944667,1,4.0,NaN,None,2.0,1.0,2.0,2.0,"[98430339, 43232168, 29573241, 26045167, 94489..."
19847,83404524,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[60815215, 69468499, 12382740, 35274708, 57846..."
19848,62945225,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[158484774, 58170807, 97758272, 30751873, 6501..."
19849,61658324,2,NaN,NaN,None,NaN,NaN,NaN,NaN,"[30751873, 24148563, 121199691, 35783559, 1516..."
19850,251475868,2,NaN,NaN,None,NaN,NaN,NaN,NaN,[]

In [19]:
print(data["sex"].length )

AttributeError: 'list' object has no attribute 'length'